Курсовой проект для курса "Python для Data Science"

Материалы к проекту (файлы):
train.csv
test.csv

Задание:
Используя данные из train.csv, построить
модель для предсказания цен на недвижимость (квартиры).
С помощью полученной модели предсказать
цены для квартир из файла test.csv.

Целевая переменная:
Price

Основная метрика:
R2 - коэффициент детерминации (sklearn.metrics.r2_score)

Вспомогательная метрика:
MSE - средняя квадратичная ошибка (sklearn.metrics.mean_squared_error)

Сдача проекта:
1. Прислать в раздел Задания Урока 10 ("Вебинар. Консультация по итоговому проекту")
ссылку на программу в github (программа должна содержаться в файле Jupyter Notebook 
с расширением ipynb).
2. Приложить файл с названием по образцу PNagornyi_predictions.csv
с предсказанными ценами для квартир из test.csv (файл должен содержать два поля: Id, Price).

Сроки сдачи:
Сдать проект за 72 часа после Урока 10 ("Вебинар. Консультация по итоговому проекту").

Примечание:
Все файлы csv должны содержать названия полей (header - то есть "шапку"),
разделитель - запятая. В файлах не должны содержаться индексы из датафрейма.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as LR, Ridge
from sklearn.ensemble import RandomForestRegressor as RF
from sklearn.metrics import r2_score as r2, mean_squared_error as MSE

In [2]:
db = pd.read_csv('train.csv')
data = db.copy()
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [4]:
#т.к. очень много пропущенных данных, иключим из анализа признак Healthcare_1
data = data.drop('Healthcare_1', axis=1)

In [5]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

Исследуем признак `Rooms` - количество комнат.

In [6]:
data.loc[data.Rooms>5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
1454,8491,1,19.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,0,1,B,78364.616704
2170,14003,99,6.0,59.414334,38.702244,6.0,7,9.0,1969,0.033494,B,B,66,10573,1,3,8,B,229661.964416
8849,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

In [7]:
# гипотеза №1, приведем кол-во комнат > 5 к кол-ву комнат в зависимости от Square
data.loc[data.Rooms==10, 'Rooms']=2
data.loc[data.Rooms==6, 'Rooms']=2
data.loc[1454, 'Rooms']=1

In [8]:
data.loc[data.Rooms<1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0.0,138.427694,136.215499,0.0,4,3.0,2016,0.075424,B,B,11,3097,0,0,0,B,268394.744389
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
2269,7317,27,0.0,41.790881,NaN,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,0,1,B,98129.976788
3911,770,28,0.0,49.483501,NaN,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1,0,B,217009.338463
4366,456,6,0.0,81.491446,NaN,0.0,4,0.0,1977,0.243205,B,B,5,1564,0,0,0,B,212864.799112
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,0,0,B,126596.941798
6149,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,3,9,B,158998.110646
8834,9443,27,0.0,87.762616,85.125471,0.0,5,15.0,1977,0.211401,B,B,9,1892,0,0,1,B,219281.918007

In [9]:
# гипотеза №2, считаем квартиры с Rooms=0, квартирами Rooms=1
data.loc[data.Rooms<1, 'Rooms']=1

Считаем, что признак `Rooms` мы исследовали.

Исследуем признакы `KitchenSquare`- площадь кухни, `LifeSquare` - жилая площадь квартиры и `Square` - площадь квартиры.

In [10]:
data.loc[data.KitchenSquare<2]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,1,3,B,220925.908524
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,0,1,B,229102.795999
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,0.090799,B,B,74,19083,2,5,15,B,229220.372609
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,0.072158,B,B,2,629,1,0,0,A,140647.565937
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,0.211401,B,B,9,1892,0,0,1,B,127200.026511
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,0.006076,B,B,30,5285,0,6,6,B,571069.052600
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,244145.827069
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,0.072158,B,B,2,629,1,0,0,A,337299.867936
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,173910.923723
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,0.034656,B,B,0,168,0,0,0,B,95338.198549
32,13253,27,2.0,63.679116,37.275775,1.0,9,15.0,1977,0.017647,B,B,2,469,0,0,0,B,178721.706337
36,11703,23,1.0,41.118766,NaN,1.0,4,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,103510.223601
39,9371,23,2.0,60.503248,NaN,0.0,16,0.0,1977,0.034656,B,B,0,168,0,0,0,B,229778.057902
42,9833,1,2.0,56.494318,54.723569,0.0,9,17.0,1977,0.007122,B,B,1,264,0,0,1,B,196078.907289
43,175,23,2.0,58.692133,NaN,1.0,16,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,184501.011225
44,10521,38,3.0,104.211396,106.340403,0.0,20,0.0,2017,0.060753,B,B,15,2787,2,0,7,B,435462.048070
46,1821,23,2.0,49.929489,NaN,1.0,9,12.0,1977,0.034656,B,B,0,168,0,0,0,B,88464.425395
52,2301,1,2.0,61.400054,65.224603,0.0,17,22.0,2016,0.007122,B,B,1,264,0,0,1,B,199215.452229
54,16334,1,1.0,42.414176,NaN,1.0,14,17.0,1977,0.007122,B,B,1,264,0,0,1,B,156476.614348
57,3203,23,2.0,56.218702,NaN,1.0,3,3.0,1977,0.005767,B,B,1,388,0,0,0,B,90303.665683
61,4191,1,2.0,65.023899,NaN,1.0,10,17.0,1977,0.007122,B,B,1,264,0,0,1,B,197343.797985
63,7605,6,1.0,42.505532,NaN,1.0,6,12.0,2014,0.243205,B,B,5,1564,0,0,0,B,113617.219571
64,9723,52,2.0,64.141152,NaN,1.0,5,17.0,1977,0.371149,B,B,34,7065,1,2,5,B,158148.936484
65,11398,62,1.0,41.194188,NaN,0.0,6,0.0,1977,0.072158,B,B,2,629,1,0,0,A,114063.092041
70,10362,27,2.0,79.227049,NaN,0.0,9,0.0,1977,0.072158,B,B,2,629,1,0,0,A,167023.973143
71,2136,74,2.0,84.687732,81.905552,0.0,12,17.0,2017,0.075779,B,B,6,1437,3,0,2,B,243479.876105
72,14675,74,1.0,52.457589,52.423345,0.0,18,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,160292.163702
74,4014,6,2.0,63.184422,61.142894,1.0,17,17.0,2016,0.243205,B,B,5,1564,0,0,0,B,190762.981550
76,14020,34,1.0,47.909327,42.782385,1.0,2,1.0,2016,0.069753,B,B,53,13670,4,1,11,B,181167.642404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9914,11428,1,2.0,69.407574,NaN,1.0,15,25.0,1977,0.007122,B,B,1,264,0,0,1,B,221718.598852
9917,1901,94,1.0,45.822669,NaN,1.0,7,1.0,1977,0.282798,B,B,33,8667,2,0,6,B,229936.748542
9923,16273,30,2.0,63.905356,NaN,1.0,6,25.0,1977,0.000078,B,B,22,6398,141,3,23,B,189417.357268
9926,10680,1,1.0,41.657661,NaN,1.0,2,22.0,1977,0.007122,B,B,1,264,0,0,1,B,120424.535875
9931,13355,27,2.0,64.261856,NaN,1.0,10,1.0,1977,0.072158,B,B,2,629,1,0,0,A,223719.779293
9936,15173,30,2.0,62.341347,NaN,1.0,19,21.0,1977,0.000078,B,B,22,6398,141,3,23,B,174256.265798
9938,15868,9,2.0,64.412326,61.337938,1.0,13,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,183118.396487
9942,9369,1,2.0,56.323990,NaN,1.0,18,17.0,1977,0.007122,B,B,1,264,0,0,1,B,183882.806975
9944,16160,27,2.0,60.396765,NaN,0.0,10,0.0,1977,0.072158,B,B,2,629,1,0,0,A,211810.600728
9946,4470,62,3.0,89.915337,NaN,0.0,13,15.0,1977,0.072158,B,B,2,629,1,0,0,A,191229.098911
9948,8438,1,2.0,66.736039,NaN,0.0,16,17.0,1977,0.007122,B,B,1,264,0,0,1,B,199237.847364
9949,3355,53,1.0,39.211416,36.159431,1.0,19,18.0,2019,0.049637,B,B,34,7759,0,1,3,B,180600.181118
9951,9237,25,1.0,33.516313,31.086243,1.0,13,11.0,2015,0.069753,B,B,53,13670,4,1,11,B,148066.435795
9953,5365,1,2.0,61.049491,NaN,0.0,11,17.0,1977,0.007122,B,B,1,264,0,0,1,B,190085.168584
9954,583,27,3.0,84.250710,4.187885,1.0,15,1.0,2016,0.072158,B,B,2,629,1,0,0,A,236647.781363
9960,9307,1,2.0,57.376642,NaN,0.0,8,25.0,2016,0.007122,B,B,1,264,0,0,1,B,104450.496477
9961,1579,23,1.0,27.331108,NaN,1.0,10,12.0,1977,0.034656,B,B,0,168,0,0,0,B,60825.032060
9963,15035,1,2.0,66.547650,NaN,1.0,13,17.0,1977,0.007122,B,B,1,264,0,0,1,B,184050.533213
9964,10463,27,3.0,49.574590,45.590573,1.0,18,25.0,2013,0.072158,B,B,2,629,1,0,0,A,145025.095667
9965,6612,27,2.0,59.460685,NaN,0.0,15,19.0,1977,0.211401,B,B,9,1892,0,0,1,B,135784.320930
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,222068.370598
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,0.000078,B,B,22,6398,141,3,23,B,65949.315881
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,0.118537,B,B,30,6207,1,1,0,B,175229.645872
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,0.007122,B,B,1,264,0,0,1,B,185996.664227
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,0.243205,B,B,5,1564,0,0,0,B,164356.212221
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,0.211401,B,B,9,1892,0,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,0.007122,B,B,1,264,0,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,0.034656,B,B,0,168,0,0,0,B,115797.553006
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,171323.515653
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,0.072158,B,B,2,629,1,0,0,A,159143.805370

In [11]:
mean_kitchen_sq=data.groupby(['Rooms'],as_index=False)[['KitchenSquare']].mean().rename(columns={'KitchenSquare':'mean_KitchenSquare'})
mean_kitchen_sq.head()

   Rooms  mean_KitchenSquare
0    1.0            6.514270
1    2.0            5.638681
2    3.0            6.801790
3    4.0            8.506667
4    5.0            9.222222

In [12]:
# гипотеза №3
# Т.к. нет четкой зависимости средней площади кухни от количества комнат
# Площадь кухни меньше 2 заполняем средней площадью кухни.
data.loc[data.KitchenSquare<2, 'KitchenSquare'] = data.KitchenSquare.mean()
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.887500,56.315775,37.199645,8.007781,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.811486,21.058732,86.241209,28.339594,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,1.136859,0.370619,2.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,6.273300,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.273300,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,5.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [13]:
data.loc[data.KitchenSquare>50]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
227,16395,2,3.0,79.722243,44.731219,72.0,12,16.0,1987,0.130618,B,B,39,10418,9,1,9,B,370148.625285
1064,14656,62,1.0,47.100719,46.447960,2014.0,4,1.0,2014,0.072158,B,B,2,629,1,0,0,A,108337.484207
1369,2371,27,2.0,68.841073,64.234956,66.0,4,2.0,2014,0.017647,B,B,2,469,0,0,0,B,189244.249909
1455,12507,54,2.0,79.810535,79.578961,78.0,10,15.0,2014,0.006076,B,B,30,5285,0,6,6,B,438708.707579
1860,4265,161,2.0,53.216778,32.644859,53.0,7,17.0,1994,0.000699,B,B,14,3369,24,0,3,B,261125.669724
2916,12390,72,3.0,97.490674,99.323558,96.0,22,25.0,2019,0.210473,B,B,11,2398,2,3,0,B,445074.956552
2969,7441,62,3.0,114.734473,112.589083,112.0,3,3.0,2015,0.072158,B,B,2,629,1,0,0,A,315245.521059
4079,6508,23,2.0,67.146049,33.959154,63.0,5,17.0,2019,0.034656,B,B,0,168,0,0,0,B,193130.585871
4110,299,27,2.0,66.787523,64.616662,60.0,14,20.0,2015,0.017647,B,B,2,469,0,0,0,B,179466.094235
4651,12552,58,3.0,116.405693,113.109653,112.0,3,3.0,2016,0.437885,B,B,23,5735,3,0,5,B,296165.936689
5149,13703,42,1.0,38.071692,19.723548,73.0,9,10.0,2006,0.158249,B,B,21,5731,0,1,0,B,160488.033165
5162,11739,27,2.0,61.070298,59.845092,58.0,8,17.0,2016,0.072158,B,B,2,629,1,0,0,A,212188.959537
5888,16593,52,2.0,64.859242,NaN,62.0,15,17.0,1977,0.371149,B,B,34,7065,1,2,5,B,185993.474671
5904,673,27,1.0,54.418214,51.498581,51.0,10,17.0,2017,0.072158,B,B,2,629,1,0,0,A,133273.635012
6036,12666,34,2.0,60.603363,2.400832,58.0,14,22.0,1977,0.069753,B,B,53,13670,4,1,11,B,261733.472106
6240,4966,96,3.0,78.445675,47.146757,75.0,9,12.0,1977,0.041116,B,B,53,14892,4,1,4,B,290354.484070
7088,6569,27,1.0,38.220258,18.716856,84.0,4,17.0,2018,0.011654,B,B,4,915,0,0,0,B,99079.960518
8232,7162,34,2.0,56.738764,57.510395,54.0,26,25.0,2016,0.069753,B,B,53,13670,4,1,11,B,244220.621495
8584,14679,81,1.0,32.276663,19.278394,1970.0,6,1.0,1977,0.006076,B,B,30,5285,0,6,6,B,105539.556275
9889,12918,23,2.0,51.440463,53.134243,51.0,3,17.0,2017,0.005767,B,B,1,388,0,0,0,B,88150.012510
9895,2737,27,3.0,123.430072,125.806981,123.0,5,10.0,2015,0.017647,B,B,2,469,0,0,0,B,234194.837047

In [14]:
# гипотеза №4
# посчитаем площадь кухни больше 50 - аномальной и заполним средним значением
data.loc[data.KitchenSquare>50, 'KitchenSquare'] = data.KitchenSquare.mean()

In [15]:
# получим среднее значение по Square, в которых данные по LifeSquare заполнены
data.loc[data.LifeSquare>0, 'Square'].mean()

# получим среднее значение по KitchenSquare, в которых данные по LifeSquare заполнены
data.loc[data.LifeSquare>0, 'KitchenSquare'].mean()

# получим среднее значение по LifeSquare, в которых данные по LifeSquare заполнены
data.loc[data.LifeSquare>0, 'LifeSquare'].mean()

# гипотеза №5 
# считаем, что среднее значение прочей площади(не KitchenSquare и LifeSquare)
Square_other_mean = data.loc[data.LifeSquare>0, 'Square'].mean() - data.loc[data.LifeSquare>0, 'KitchenSquare'].mean() - data.loc[data.LifeSquare>0, 'LifeSquare'].mean()
Square_other_mean

10.290016701809868

In [16]:
# посмотрим на Square < 20
data.loc[(data.Square<20)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2.0,5.497061,67.628717,6.2733,24,22.0,1977,0.127376,B,B,43,8429,3,3,9,B,412511.088764
1316,11526,27,1.0,4.633498,1.969969,6.2733,18,1.0,1977,0.011654,B,B,4,915,0,0,0,B,107604.269441
1608,10202,6,1.0,2.596351,4.604943,6.2733,3,25.0,2014,0.243205,B,B,5,1564,0,0,0,B,137597.601458
1891,13685,0,1.0,17.498542,13.446544,6.2733,7,5.0,1961,0.319809,B,B,25,4756,16,5,8,B,88871.750230
3166,15127,150,1.0,17.046188,20.036232,8.0000,7,12.0,1982,0.300323,B,B,52,10311,6,1,9,B,74222.110465
3280,10527,27,1.0,4.380726,40.805837,6.2733,10,17.0,2013,0.211401,B,B,9,1892,0,0,1,B,97560.720383
3413,9487,5,1.0,5.129222,5.549458,6.2733,1,1.0,1977,0.150818,B,B,16,3433,4,4,5,B,369472.403061
3794,523,101,1.0,18.509177,15.170851,3.0000,5,5.0,1970,0.225825,A,B,41,6558,7,3,2,B,115845.861527
4739,12676,81,3.0,13.784865,15.988889,7.0000,4,5.0,1960,0.319809,B,B,25,4756,16,5,8,B,78388.806186
4853,3224,27,1.0,2.377248,0.873147,6.2733,1,0.0,1977,0.017647,B,B,2,469,0,0,0,B,126596.941798
4900,4504,27,3.0,4.390331,5.610772,6.2733,8,19.0,2016,0.211401,B,B,9,1892,0,0,1,B,161379.067034
5617,15877,57,3.0,16.547242,16.698571,8.0000,5,5.0,1962,0.133215,B,B,49,11395,3,3,4,A,77835.185808
6392,14786,1,1.0,1.136859,4.525736,6.2733,3,1.0,1977,0.007122,B,B,1,264,0,0,1,B,181434.825589
6945,12927,62,2.0,17.414181,NaN,6.2733,4,20.0,1977,0.072158,B,B,2,629,1,0,0,A,180750.471749
7767,6927,21,1.0,16.117154,8.822988,6.2733,2,5.0,1965,0.194489,B,B,47,8004,3,3,5,B,79913.267856
7897,10635,21,1.0,18.983962,11.419796,2.0000,1,5.0,1967,0.194489,B,B,47,8004,3,3,5,B,112411.221700
8030,13265,1,3.0,4.823679,79.767964,6.2733,6,17.0,1977,0.007122,B,B,1,264,0,0,1,B,237716.681261
8283,15744,34,1.0,1.988943,2.642219,6.2733,21,4.0,1977,0.069753,B,B,53,13670,4,1,11,B,458378.777006
9294,6782,45,1.0,2.954309,5.257278,6.2733,3,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,438005.182323
9516,14236,0,1.0,19.927423,15.541536,6.2733,2,5.0,1962,0.319809,B,B,25,4756,16,5,8,B,102395.788856
9613,7657,38,1.0,4.502784,4.618547,6.2733,28,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,483283.488083

In [17]:
# гипотеза №6
# скорректируем данные [Square < 20] = LifeSquare + KitchenSquare + Square_other_mean
# для этого исключим из выборки пустые значения LifeSquare
data.loc[(data.Square<20) & (data.LifeSquare>0), 'Square'] = data['LifeSquare'] + data['KitchenSquare'] + Square_other_mean

In [18]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.887500,56.364381,37.199645,7.486097,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.811486,20.996538,86.241209,2.519404,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,17.414181,0.370619,2.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.782323,22.769832,6.273300,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.535436,32.781260,6.273300,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.912854,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,5.000000,641.065193,7480.592129,48.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [19]:
# посмотрим на Square > 300
data.loc[data.Square>300]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
4262,28,9,2.0,604.705972,NaN,6.2733,17,18.0,1977,0.161532,B,B,25,5648,1,2,4,B,187717.242538
4690,2307,102,1.0,409.425181,410.639749,10.0000,4,4.0,2016,0.238617,B,B,26,3889,6,3,6,B,90470.430830
6977,11602,30,2.0,641.065193,638.163193,10.0000,20,19.0,2019,0.000078,B,B,22,6398,141,3,23,B,133529.681562

In [20]:
# гипотеза №7
# учитывая количество комнат можно предположить, что были допущены ошибки при формировании данных, заменим ошибочные данные
data.loc[4262, 'Square'] = 60.4705972
data.loc[4690, 'Square'] = 40.9425181
data.loc[6977, 'Square'] = 64.1065193

In [21]:
# гипотеза №8 
# для заполнения данных по `LifeSquare`, которые отсутствуют, примем LifeSquare = Square - KitchenSquare - Square_other_mean
data['LifeSquare'] = data['LifeSquare'].fillna(data['Square'] - data['KitchenSquare'] - Square_other_mean)

In [22]:
# посмотрим на LifeSquare < 10
data.loc[data.LifeSquare<10]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3.0,106.958871,0.641822,6.2733,17,0.0,2018,0.072158,B,B,2,629,1,0,0,A,337299.867936
95,4280,34,2.0,61.334968,4.091945,6.2733,26,1.0,2014,0.069753,B,B,53,13670,4,1,11,B,286564.441972
134,12613,6,2.0,65.496674,5.589324,6.2733,5,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,180727.643541
158,16779,27,3.0,51.991064,4.896202,6.2733,22,25.0,1977,0.072158,B,B,2,629,1,0,0,A,174687.566186
160,3522,6,1.0,66.419841,3.987101,6.2733,2,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,193361.229815
270,15215,17,1.0,46.692974,5.941401,6.2733,7,1.0,2015,0.000000,B,B,18,3374,5,1,2,B,212290.684086
279,8727,1,2.0,79.521221,4.634049,6.2733,5,1.0,2017,0.007122,B,B,1,264,0,0,1,B,232726.628137
363,15751,9,1.0,44.171793,1.251846,6.2733,11,18.0,2017,0.161532,B,B,25,5648,1,2,4,B,134910.715588
475,6333,27,2.0,64.049695,4.008230,6.2733,5,5.0,2017,0.017647,B,B,2,469,0,0,0,B,189477.560210
477,8849,45,1.0,63.419553,2.286357,6.2733,3,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,325600.765809
501,15923,27,1.0,26.553188,9.989872,6.2733,25,0.0,1977,0.072158,B,B,2,629,1,0,0,A,114256.236153
527,2141,56,1.0,53.733677,4.323046,6.2733,24,1.0,2015,0.000000,B,B,23,5067,4,2,6,B,208773.977243
560,8149,6,2.0,71.904226,4.171094,6.2733,9,25.0,2015,0.243205,B,B,5,1564,0,0,0,B,184050.456761
655,34,6,3.0,78.380053,4.003157,6.2733,23,25.0,2019,0.243205,B,B,5,1564,0,0,0,B,206647.245666
674,10631,88,1.0,42.571618,1.941521,6.2733,6,1.0,1977,0.127376,B,B,43,8429,3,3,9,B,130374.241595
682,2913,34,4.0,94.888593,2.637095,6.2733,4,1.0,2018,0.069753,B,B,53,13670,4,1,11,B,346949.506507
683,15091,27,2.0,66.535842,1.638083,6.2733,6,1.0,1977,0.017647,B,B,2,469,0,0,0,B,175067.233991
695,1867,30,1.0,54.626206,4.651397,6.2733,4,3.0,1977,0.000078,B,B,22,6398,141,3,23,B,87456.520038
707,4345,62,1.0,49.275155,1.377284,6.2733,5,1.0,2020,0.072158,B,B,2,629,1,0,0,A,135353.885620
734,4319,62,1.0,51.815214,4.203073,6.2733,6,1.0,1977,0.072158,B,B,2,629,1,0,0,A,137880.620962
751,11989,62,3.0,104.446306,1.451067,6.2733,12,15.0,2015,0.072158,B,B,2,629,1,0,0,A,223692.672480
765,7060,27,1.0,38.651043,5.822657,6.2733,7,17.0,1977,0.011654,B,B,4,915,0,0,0,B,103210.010325
850,2470,6,1.0,43.312025,1.404493,6.2733,11,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,128588.741321
882,1250,53,2.0,56.290825,5.142822,6.2733,2,19.0,1977,0.049637,B,B,34,7759,0,1,3,B,294282.721375
1169,14866,6,1.0,38.818170,5.927865,6.2733,18,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,131405.866884
1175,3527,9,1.0,72.035396,2.358992,6.2733,5,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,191744.615408
1214,6366,6,1.0,47.804946,2.553024,6.2733,6,25.0,1977,0.243205,B,B,5,1564,0,0,0,B,133552.372112
1215,6189,53,2.0,58.896686,5.735331,6.2733,18,19.0,2014,0.049637,B,B,34,7759,0,1,3,B,286784.105825
1316,11526,27,1.0,18.533286,1.969969,6.2733,18,1.0,1977,0.011654,B,B,4,915,0,0,0,B,107604.269441
1410,1843,74,1.0,49.635712,3.411048,6.2733,4,1.0,1977,0.309479,B,B,35,7715,4,0,6,B,146838.036852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8487,11829,34,4.0,98.047744,1.451846,6.2733,16,1.0,1977,0.069753,B,B,53,13670,4,1,11,B,366655.111294
8543,16090,6,3.0,77.847057,2.941437,6.2733,12,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,221644.916098
8561,12503,6,2.0,74.273400,5.615401,6.2733,12,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,188118.364308
8601,467,9,2.0,45.924840,2.907493,6.2733,10,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,124016.667294
8615,6814,52,2.0,66.544692,2.179808,6.2733,2,17.0,2018,0.371149,B,B,34,7065,1,2,5,B,183784.694445
8711,8601,6,3.0,80.968060,1.239622,6.2733,6,17.0,2017,0.243205,B,B,5,1564,0,0,0,B,217669.112875
8715,1936,74,1.0,53.835574,1.185864,6.2733,7,7.0,2018,0.075779,B,B,6,1437,3,0,2,B,185976.351147
8855,4512,9,2.0,64.977910,5.768457,6.2733,11,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,194036.364634
8882,14112,23,2.0,53.043172,4.855507,6.2733,4,1.0,1977,0.034656,B,B,0,168,0,0,0,B,89801.732879
8886,2056,9,1.0,47.301790,5.125908,6.2733,7,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,138880.254465
8908,10684,22,1.0,41.872590,2.347250,6.2733,3,1.0,1977,0.118537,B,B,30,6207,1,1,0,B,136609.809831
8971,6749,23,2.0,65.204976,2.467002,6.2733,9,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,167560.543204
8973,14254,27,2.0,73.275697,2.861966,6.2733,2,25.0,1977,0.072158,B,B,2,629,1,0,0,A,171980.001444
9177,13951,45,1.0,39.225914,2.372105,6.2733,24,24.0,2017,0.195781,B,B,23,5212,6,3,2,B,271893.118572
9192,1754,6,1.0,61.978423,3.943299,6.2733,1,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,177116.339701
9264,5458,9,2.0,62.920673,1.591420,6.2733,7,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,180234.142008
9291,15165,74,2.0,83.259565,5.387263,6.2733,12,1.0,2017,0.309479,B,B,35,7715,4,0,6,B,260852.230977
9294,6782,45,1.0,21.820595,5.257278,6.2733,3,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,438005.182323
9299,8687,48,1.0,42.840915,2.608669,6.2733,19,17.0,1977,0.041125,B,B,46,9515,5,1,10,B,236378.466217
9316,15449,6,2.0,62.548496,3.645893,6.2733,16,25.0,2017,0.243205,B,B,5,1564,0,0,0,B,191217.348124
9396,3745,30,1.0,42.457169,3.259832,6.2733,10,25.0,2014,0.000078,B,B,22,6398,141,3,23,B,155348.833619
9576,7389,23,1.0,52.028804,4.295819,6.2733,8,9.0,1977,0.014073,B,B,2,475,0,0,0,B,98638.755928
9602,5112,6,2.0,63.591740,0.795539,10.0000,17,17.0,2014,0.243205,B,B,5,1564,0,0,0,B,174741.998061
9613,7657,38,1.0,21.181863,4.618547,6.2733,28,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,483283.488083
9748,14053,27,2.0,56.564445,2.616535,6.2733,7,12.0,2015,0.011654,B,B,4,915,0,0,0,B,141086.005616
9756,13583,27,2.0,58.943039,3.319486,6.2733,11,17.0,2017,0.011654,B,B,4,915,0,0,0,B,142789.948977
9813,2040,62,1.0,122.438148,5.751401,6.2733,2,3.0,1977,0.072158,B,B,2,629,1,0,0,A,224900.897679
9828,13630,24,3.0,127.141143,4.811405,6.2733,3,1.0,2017,0.111627,B,B,50,12238,8,2,3,B,611250.912034
9888,6053,6,1.0,41.314775,5.005477,6.2733,9,17.0,2016,0.243205,B,B,5,1564,0,0,0,B,159149.515475
9954,583,27,3.0,84.250710,4.187885,6.2733,15,1.0,2016,0.072158,B,B,2,629,1,0,0,A,236647.781363

In [23]:
# гипотеза №9 
# понимая, что значения по данному условию принимают аномальные значения, при чем при условии 10 < `LifeSquare` < 15,
# данные аномалии не прослеживаются,
# для заполнения данных по `LifeSquare` < 10 также примем условие LifeSquare = Square - KitchenSquare - Square_other_mean
data.loc[data.LifeSquare<10, 'LifeSquare'] = data['Square'] - data['KitchenSquare'] - Square_other_mean

In [24]:
# гипотеза №10
# посмотрим на LifeSquare < 10, чтобы определить наблюдения, которые не подошли под условие гипотезы №9
# примем для них среднее значение LifeSquare
data.loc[data.LifeSquare<10, 'LifeSquare'] = data.LifeSquare.mean()

In [25]:
# посмотрим на LifeSquare > 150
data.loc[data.LifeSquare>150]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
590,14990,23,2.0,48.449873,263.542020,5.0000,6,5.0,1972,0.075779,B,B,6,1437,3,0,2,B,141780.231857
1641,11055,151,1.0,174.649522,174.837082,15.0000,10,12.0,1958,0.236108,B,B,16,3893,27,3,10,B,232766.187698
1812,5602,93,3.0,169.385184,152.821867,6.2733,2,10.0,1977,0.004949,B,B,0,186,0,0,0,B,190949.293998
1981,7917,27,1.0,212.932361,211.231125,6.2733,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
1982,5548,86,5.0,275.645284,233.949309,26.0000,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
2603,5621,23,3.0,163.495333,161.504222,12.0000,5,3.0,1977,0.014073,B,B,2,475,0,0,0,B,207007.956663
3651,5300,30,3.0,169.509941,170.713651,6.2733,2,2.0,2018,0.000078,B,B,22,6398,141,3,23,B,200800.673767
4047,15362,23,1.0,163.286965,161.155275,6.2733,4,3.0,1977,0.014073,B,B,2,475,0,0,0,B,228572.520347
4328,16550,27,3.0,81.694417,7480.592129,6.2733,9,17.0,2016,0.017647,B,B,2,469,0,0,0,B,217357.492366
4690,2307,102,1.0,40.942518,410.639749,10.0000,4,4.0,2016,0.238617,B,B,26,3889,6,3,6,B,90470.430830
5444,14181,62,3.0,156.636577,153.685835,6.2733,1,3.0,2005,0.072158,B,B,2,629,1,0,0,A,502523.573863
6201,10678,17,4.0,170.016872,153.453555,6.2733,12,0.0,1977,0.093443,B,B,23,4635,5,2,4,B,531049.721966
6332,8961,27,1.0,33.398983,164.153360,6.0000,3,5.0,1965,0.211401,B,B,9,1892,0,0,1,B,104891.073757
6977,11602,30,2.0,64.106519,638.163193,10.0000,20,19.0,2019,0.000078,B,B,22,6398,141,3,23,B,133529.681562
7084,5376,93,2.0,170.379494,153.816178,6.2733,3,2.0,1977,0.004949,B,B,0,186,0,0,0,B,194582.912756
8131,4991,93,3.0,167.767027,151.203711,6.2733,1,1.0,1977,0.004949,B,B,0,186,0,0,0,B,211180.794219
8437,15886,85,3.0,78.059331,461.463614,10.0000,12,16.0,1998,0.037178,B,B,52,11217,1,1,7,B,394253.299978
8646,11764,93,3.0,169.117203,152.553887,6.2733,5,3.0,1977,0.004949,B,B,0,186,0,0,0,B,211325.577641
8913,2603,30,3.0,162.587886,164.526757,6.2733,2,3.0,1977,0.000078,B,B,22,6398,141,3,23,B,207407.352593
9910,16568,27,4.0,200.334539,201.627361,25.0000,1,2.0,2013,0.041116,B,B,53,14892,4,1,4,B,528560.506016

In [26]:
# гипотеза №11 
# для заполнения данных по `LifeSquare` > 150 также примем условие LifeSquare = Square - KitchenSquare - Square_other_mean
data.loc[data.LifeSquare>150, 'LifeSquare'] = data['Square'] - data['KitchenSquare'] - Square_other_mean

In [27]:
# посмотрим еще раз на LifeSquare > 150, можно определить, что анамольных значений не прослеживается
data.loc[data.LifeSquare>150]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1812,5602,93,3.0,169.385184,152.821867,6.2733,2,10.0,1977,0.004949,B,B,0,186,0,0,0,B,190949.293998
1981,7917,27,1.0,212.932361,196.369044,6.2733,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
1982,5548,86,5.0,275.645284,239.355267,26.0000,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
3651,5300,30,3.0,169.509941,152.946624,6.2733,2,2.0,2018,0.000078,B,B,22,6398,141,3,23,B,200800.673767
6201,10678,17,4.0,170.016872,153.453555,6.2733,12,0.0,1977,0.093443,B,B,23,4635,5,2,4,B,531049.721966
7084,5376,93,2.0,170.379494,153.816178,6.2733,3,2.0,1977,0.004949,B,B,0,186,0,0,0,B,194582.912756
8131,4991,93,3.0,167.767027,151.203711,6.2733,1,1.0,1977,0.004949,B,B,0,186,0,0,0,B,211180.794219
8646,11764,93,3.0,169.117203,152.553887,6.2733,5,3.0,1977,0.004949,B,B,0,186,0,0,0,B,211325.577641
9910,16568,27,4.0,200.334539,165.044523,25.0000,1,2.0,2013,0.041116,B,B,53,14892,4,1,4,B,528560.506016

In [28]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.887500,56.215413,38.377993,7.486097,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.811486,19.082339,17.820167,2.519404,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,17.414181,10.248270,2.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.780320,24.434019,6.273300,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.529412,34.058480,6.273300,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.894295,47.036284,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,5.000000,275.645284,239.355267,48.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

Будем считать, что признаки `KitchenSquare`- площадь кухни, `LifeSquare` - жилая площадь квартиры и `Square` - площадь квартиры мы исследовали.

Далее исследуем признакы `Floor`- этаж, `HouseFloor` - всего этажей у дома.

In [29]:
data.loc[data.Floor>data.HouseFloor]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2.0,80.312926,63.749609,6.2733,14,0.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,221244.156664
14,10953,27,1.0,53.769097,52.408027,6.2733,5,4.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,140647.565937
16,2119,27,2.0,49.360648,31.993964,5.0000,6,5.0,1983,5.181543e-02,B,B,5,1227,0,0,0,B,117000.381287
21,11935,27,2.0,64.711835,48.148518,6.2733,15,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,127200.026511
23,6641,54,3.0,118.907612,102.344295,6.2733,2,0.0,1977,6.076152e-03,B,B,30,5285,0,6,6,B,571069.052600
26,4378,27,3.0,106.958871,90.395555,6.2733,17,0.0,2018,7.215758e-02,B,B,2,629,1,0,0,A,337299.867936
35,6486,200,3.0,85.280389,58.447967,9.0000,6,5.0,1960,0.000000e+00,B,B,33,7425,1,2,5,B,402871.916317
39,9371,23,2.0,60.503248,43.939932,6.2733,16,0.0,1977,3.465608e-02,B,B,0,168,0,0,0,B,229778.057902
44,10521,38,3.0,104.211396,106.340403,6.2733,20,0.0,2017,6.075305e-02,B,B,15,2787,2,0,7,B,435462.048070
51,10103,94,1.0,35.280894,23.354176,6.0000,11,9.0,1971,2.827977e-01,B,B,33,8667,2,0,6,B,148862.210174
65,11398,62,1.0,41.194188,24.630872,6.2733,6,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,114063.092041
67,8443,57,2.0,45.964890,29.141212,5.0000,7,5.0,1963,1.332153e-01,B,B,49,11395,3,3,4,A,180538.898922
68,1063,77,1.0,42.678844,23.918634,8.0000,14,12.0,1983,6.998930e-05,B,B,46,10309,1,1,16,B,179784.473334
70,10362,27,2.0,79.227049,62.663732,6.2733,9,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,167023.973143
72,14675,74,1.0,52.457589,52.423345,6.2733,18,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,160292.163702
76,14020,34,1.0,47.909327,42.782385,6.2733,2,1.0,2016,6.975336e-02,B,B,53,13670,4,1,11,B,181167.642404
86,9613,148,3.0,127.481583,110.918267,6.2733,16,1.0,2012,3.139246e-01,B,B,22,4625,11,2,10,B,510700.444735
87,16674,94,2.0,47.145626,30.738284,5.0000,11,9.0,1976,1.273759e-01,B,B,43,8429,3,3,9,B,210364.314719
95,4280,34,2.0,61.334968,44.771651,6.2733,26,1.0,2014,6.975336e-02,B,B,53,13670,4,1,11,B,286564.441972
104,2930,9,2.0,62.347154,45.783837,6.2733,6,1.0,1977,1.615317e-01,B,B,25,5648,1,2,4,B,184172.975639
115,12377,27,2.0,60.445855,43.882538,6.2733,13,1.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,213798.185151
119,367,45,1.0,42.367289,40.012529,6.2733,16,14.0,2015,1.957811e-01,B,B,23,5212,6,3,2,B,250466.980777
122,5267,49,1.0,43.444266,20.702409,8.0000,18,17.0,2010,2.074133e-02,B,B,24,5613,5,2,5,B,168601.974805
123,8753,25,3.0,85.952306,89.803753,6.2733,4,3.0,2017,6.975336e-02,B,B,53,13670,4,1,11,B,309688.592681
129,6072,6,1.0,65.102017,64.622603,6.2733,10,9.0,2015,2.432045e-01,B,B,5,1564,0,0,0,B,175899.978284
131,10726,27,3.0,89.692964,87.623814,6.2733,13,1.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,265978.837780
141,3839,31,3.0,78.471987,52.706824,8.0000,6,5.0,1957,1.513462e-01,B,A,32,5889,10,4,1,B,419692.978034
145,14787,34,2.0,60.366626,57.709149,10.0000,20,19.0,2017,6.975336e-02,B,B,53,13670,4,1,11,B,241737.808497
152,14141,23,2.0,57.699619,37.409602,10.0000,2,1.0,1977,3.465608e-02,B,B,0,168,0,0,0,B,114168.532703
153,9870,62,1.0,51.831473,53.491301,6.2733,5,1.0,2015,7.215758e-02,B,B,2,629,1,0,0,A,131797.472284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9837,5482,157,2.0,48.185943,33.156377,7.0000,9,8.0,1963,0.000000e+00,B,B,30,7538,87,5,5,B,425837.404955
9847,759,29,1.0,36.298652,20.959605,6.0000,7,5.0,1963,6.966034e-02,B,B,31,6119,4,1,2,B,80888.409559
9852,16641,111,4.0,117.201937,69.898092,14.0000,4,2.0,2017,9.344256e-02,B,B,23,4635,5,2,4,B,197593.112769
9853,12913,8,2.0,48.406418,30.717760,5.0000,13,12.0,1968,4.581745e-01,B,A,26,4439,1,1,5,B,212792.292586
9869,16299,107,2.0,57.284603,34.599765,7.0000,6,5.0,1961,5.027201e-02,B,B,21,4231,14,0,3,B,336305.978986
9870,309,27,1.0,37.551366,20.988050,6.2733,11,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,112877.827651
9871,6121,48,1.0,41.783808,41.944790,6.2733,17,1.0,2014,4.112463e-02,B,B,46,9515,5,1,10,B,200879.624324
9872,14136,12,1.0,43.711302,20.130061,8.0000,18,17.0,1989,9.079910e-02,B,B,74,19083,2,5,15,B,171513.507717
9878,11441,62,2.0,71.985335,72.453232,6.2733,5,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,158841.624543
9908,3171,62,1.0,35.873961,19.310644,6.2733,25,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,134379.130962
9917,1901,94,1.0,45.822669,29.259352,6.2733,7,1.0,1977,2.827977e-01,B,B,33,8667,2,0,6,B,229936.748542
9924,3327,145,1.0,41.093702,20.643619,8.0000,18,17.0,1998,2.460315e-01,B,A,22,3151,4,3,3,B,174921.829928
9931,13355,27,2.0,64.261856,47.698539,6.2733,10,1.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,223719.779293
9938,15868,9,2.0,64.412326,61.337938,6.2733,13,1.0,1977,1.615317e-01,B,B,25,5648,1,2,4,B,183118.396487
9942,9369,1,2.0,56.323990,39.760673,6.2733,18,17.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,183882.806975
9944,16160,27,2.0,60.396765,43.833448,6.2733,10,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,211810.600728
9949,3355,53,1.0,39.211416,36.159431,6.2733,19,18.0,2019,4.963726e-02,B,B,34,7759,0,1,3,B,180600.181118
9951,9237,25,1.0,33.516313,31.086243,6.2733,13,11.0,2015,6.975336e-02,B,B,53,13670,4,1,11,B,148066.435795
9954,583,27,3.0,84.250710,67.687393,6.2733,15,1.0,2016,7.215758e-02,B,B,2,629,1,0,0,A,236647.781363
9958,12878,46,1.0,39.143939,22.650690,8.0000,14,12.0,1981,0.000000e+00,B,B,47,11319,0,3,5,B,182459.513851
9959,10361,0,1.0,32.416925,19.257869,6.0000,6,5.0,1963,3.198094e-01,B,B,25,4756,16,5,8,B,125579.315184
9962,4660,158,2.0,63.131655,41.867913,8.0000,9,8.0,1939,4.203159e-02,B,B,37,6856,84,2,5,B,87268.098968
9971,16050,67,2.0,58.629682,36.330029,9.0000,19,17.0,1989,1.004557e-01,B,B,43,7227,0,1,6,A,228845.682509
9973,12590,115,2.0,48.201451,33.396431,8.0000,15,14.0,1972,1.800000e-09,B,B,16,3681,73,2,5,B,197405.312185
9975,5071,27,2.0,60.055527,37.765510,12.0000,16,15.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,190325.071232
9984,2237,52,3.0,64.074977,47.633428,6.0000,11,9.0,1983,3.711490e-01,B,B,34,7065,1,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,22.405022,6.2733,10,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,95529.569405
9989,4145,96,3.0,90.055233,47.860231,11.0000,26,24.0,2005,4.111635e-02,B,B,53,14892,4,1,4,B,441108.911237
9991,11553,3,3.0,101.622794,51.628780,12.0000,18,17.0,2000,2.650887e-01,B,B,37,5288,0,3,2,B,212883.501504
9995,77,32,2.0,50.401785,30.476203,5.0000,6,5.0,1968,1.356498e-01,B,B,46,7960,6,3,11,B,196684.316040

In [30]:
# гипотеза №12
# т.к. этаж квартиры не может быть выше этажности дома, для такой выборки установим этажность дома = этаж квартиры
data.loc[data.Floor>data.HouseFloor, 'HouseFloor'] = data['Floor']

Будем считать, что признаки `Floor`- этаж, `HouseFloor` - всего этажей у дома мы исследовали.

Далее исследуем признак `HouseYear`- год постройки.

In [31]:
data.loc[data.HouseYear>2020]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,5,8,B,243028.603096

In [32]:
# гипотеза №13
# заменим HouseYear =20052011 - средним 2008, а 4968 - 1968, т.к. скорее всего допущена ошибка.
data.loc[1497, 'HouseYear'] = 2008
data.loc[4189, 'HouseYear'] = 1968

In [33]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.887500,56.215413,38.377993,7.486097,8.526700,13.435700,1984.86600,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.811486,19.082339,17.820167,2.519404,5.241148,6.094012,18.41187,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,1.000000,17.414181,10.248270,2.000000,1.000000,1.000000,1910.00000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.780320,24.434019,6.273300,4.000000,9.000000,1974.00000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.529412,34.058480,6.273300,7.000000,14.000000,1977.00000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.894295,47.036284,9.000000,12.000000,17.000000,2001.00000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,5.000000,275.645284,239.355267,48.000000,42.000000,117.000000,2020.00000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

Будем считать, что признак `HouseYear`- год постройки. мы исследовали.

Далее исследуем признаки `Ecology_2`, `Ecology_3`, `Shops_2`, которые переведем в dummy-переменные.

Признаки `Ecology_1`, `Social_1`, `Social_2`, `Social_3`, `Helthcare_2`, `Shops_1` оставим без изменений.

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [35]:
data=pd.get_dummies(data)
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_3,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,14038,35,2.0,47.981561,29.442751,6.0000,7,9.0,1969,0.089040,...,5,0,11,184966.930730,0,1,0,1,0,1
1,15053,41,3.0,65.683640,40.049543,8.0000,7,9.0,1978,0.000070,...,1,1,16,300009.450063,0,1,0,1,0,1
2,4765,53,2.0,44.947953,29.197612,6.2733,8,12.0,1968,0.049637,...,0,1,3,220925.908524,0,1,0,1,0,1
3,5809,58,2.0,53.352981,52.731512,9.0000,8,17.0,1977,0.437885,...,3,0,5,175616.227217,0,1,0,1,0,1
4,10783,99,1.0,39.649192,23.776169,7.0000,11,12.0,1976,0.012339,...,1,2,4,150226.531644,0,1,0,1,0,1

Исследуем признак `DistrictId` и предположим гипотезу №14, создав синтетическую переменную стоимости кв.метра квартиры в определенном районе.

In [36]:
# гипотеза №14
data['price_per_sq']=data['Price']/data['Square']
#data.groupby(['DistrictId', 'Rooms'])['price_per_sq'].mean()
stats=data.groupby(['DistrictId','Rooms'],as_index=False)[['price_per_sq']].mean().rename(columns={'price_per_sq':'Mean_price_per_sq'})
stats.head()

   DistrictId  Rooms  Mean_price_per_sq
0           0    1.0        3549.874104
1           0    2.0        3631.502943
2           0    3.0        3774.993359
3           1    1.0        3398.879056
4           1    2.0        3164.233278

In [37]:
def join_stats(df,stats,source_df,mode='train'):
    df=pd.merge(df,stats,on=['DistrictId','Rooms'],how='left')
    if mode=='test':
        df['Mean_price_per_sq']=df['Mean_price_per_sq'].fillna(source_df['Mean_price_per_sq'].mean())
    return df

In [38]:
# присоединяем синтетическую переменную к нашему датафрейму
data=join_stats(data,stats,data)

In [39]:
# удаляем вспомогательный признак 'price_per_sq'
data = data.drop('price_per_sq', axis=1)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 23 columns):
Id                   10000 non-null int64
DistrictId           10000 non-null int64
Rooms                10000 non-null float64
Square               10000 non-null float64
LifeSquare           10000 non-null float64
KitchenSquare        10000 non-null float64
Floor                10000 non-null int64
HouseFloor           10000 non-null float64
HouseYear            10000 non-null int64
Ecology_1            10000 non-null float64
Social_1             10000 non-null int64
Social_2             10000 non-null int64
Social_3             10000 non-null int64
Helthcare_2          10000 non-null int64
Shops_1              10000 non-null int64
Price                10000 non-null float64
Ecology_2_A          10000 non-null uint8
Ecology_2_B          10000 non-null uint8
Ecology_3_A          10000 non-null uint8
Ecology_3_B          10000 non-null uint8
Shops_2_A            10000 non-null uint8
Shops_2_B            10000 non-null uint8
Mean_price_per_sq    10000 non-null float64
dtypes: float64(8), int64(9), uint8(6)
memory usage: 1.4 MB

In [41]:
data.drop('Id', axis=1, inplace=True)

In [42]:
data.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,Mean_price_per_sq
0,35,2.0,47.981561,29.442751,6.0000,7,9.0,1969,0.089040,33,...,0,11,184966.930730,0,1,0,1,0,1,4320.150470
1,41,3.0,65.683640,40.049543,8.0000,7,9.0,1978,0.000070,46,...,1,16,300009.450063,0,1,0,1,0,1,4143.130929
2,53,2.0,44.947953,29.197612,6.2733,8,12.0,1968,0.049637,34,...,1,3,220925.908524,0,1,0,1,0,1,4741.247035
3,58,2.0,53.352981,52.731512,9.0000,8,17.0,1977,0.437885,23,...,0,5,175616.227217,0,1,0,1,0,1,2962.604453
4,99,1.0,39.649192,23.776169,7.0000,11,12.0,1976,0.012339,35,...,2,4,150226.531644,0,1,0,1,0,1,4209.038197

In [43]:
X = data.drop('Price', axis=1) #признаки по которым будем строить модели
y = data['Price'] # целевая переменная

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 121)

Обучим модель 2 способами с нормализацией и без нормализации

In [45]:
# для способа №2 нормализуем значения наблюдений
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_norm = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)

X_test_norm = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

In [46]:
#вызовем модели LinearRegression, Ridge и RandomForest
model1 = LR()
model2 = Ridge()
model3 = RF()

model1_norm = LR()
model2_norm = Ridge()
model3_norm = RF()

In [47]:
# обучим модели для способа №1
model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)

# обучим модели для способа №2
model1_norm.fit(X_train_norm, y_train)
model2_norm.fit(X_train_norm, y_train)
model3_norm.fit(X_train_norm, y_train)

D:\programs\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
D:\programs\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [48]:
# Предскажим целевую переменную по каждой из моделей для способа №1
y_pred1 = model1.predict(X_test)
y_pred2 = model2.predict(X_test)
y_pred3 = model3.predict(X_test)

# Предскажим целевую переменную по каждой из моделей для способа №2
y_pred1_norm = model1_norm.predict(X_test_norm)
y_pred2_norm = model2_norm.predict(X_test_norm)
y_pred3_norm = model3_norm.predict(X_test_norm)

In [49]:
# опеределим коэффициент детерминации(r2) и среднюю квадратичную ошибку(MSE)
print('Линейная регрессия для способа №1', 'r2:', r2(y_test, y_pred1), 'MSE:', MSE(y_test, y_pred1)) 
print('Линейная регрессия для способа №2', 'r2:', r2(y_test, y_pred1_norm), 'MSE:', MSE(y_test, y_pred1_norm))

Линейная регрессия для способа №1 r2: 0.7059392917557463 MSE: 2552357240.7114644
Линейная регрессия для способа №2 r2: 0.705939291755742 MSE: 2552357240.711501

In [50]:
print('Ridge регрессия для способа №1', 'r2:', r2(y_test, y_pred2), 'MSE:', MSE(y_test, y_pred2)) 
print('Ridge регрессия для способа №2', 'r2:', r2(y_test, y_pred2_norm), 'MSE:', MSE(y_test, y_pred2_norm))

Ridge регрессия для способа №1 r2: 0.7059380269354172 MSE: 2552368218.966072
Ridge регрессия для способа №2 r2: 0.7047005697330119 MSE: 2563108969.981356

In [51]:
print('Случайный лес для способа №1', 'r2:', r2(y_test, y_pred3), 'MSE:', MSE(y_test, y_pred3)) 
print('Случайный лес для способа №2', 'r2:', r2(y_test, y_pred3_norm), 'MSE:', MSE(y_test, y_pred3_norm))

Случайный лес для способа №1 r2: 0.7560382069959041 MSE: 2117513939.7193627
Случайный лес для способа №2 r2: 0.7651716843066341 MSE: 2038238142.9422147

### Загрузим test

In [52]:
db_test = pd.read_csv('test.csv')
data_test = db_test.copy()
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       3959 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(7), int64(9), object(3)
memory usage: 742.3+ KB

In [53]:
#иключим из test'a признак Healthcare_1
data_test = data_test.drop('Healthcare_1', axis=1)

In [54]:
#исследуем также, как и в тренировочной выборке признак Rooms
data_test.loc[data_test.Rooms>5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
2071,10793,23,6.0,110.750226,NaN,0.0,2,2.0,2015,0.014073,B,B,2,475,0,0,0,B
3217,4058,27,6.0,223.453689,104.113552,16.0,2,2.0,2017,0.041116,B,B,53,14892,4,1,4,B
3398,1435,111,17.0,52.866107,32.528342,8.0,15,17.0,1987,0.093443,B,B,23,4635,5,2,4,B

In [55]:
#приведем кол-во комнат > 5 к кол-ву комнат в зависимости от Square
data_test.loc[2071, 'Rooms']=3
data_test.loc[3217, 'Rooms']=5
data_test.loc[3398, 'Rooms']=2

In [56]:
data_test.loc[data_test.Rooms<1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
2406,3343,58,0.0,116.824201,113.692424,0.0,3,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
2524,10729,27,0.0,76.345154,42.820796,12.0,14,0.0,1977,0.017647,B,B,2,469,0,0,0,B

In [57]:
# также считаем квартиры с Rooms=0, квартирами Rooms=1
data_test.loc[data_test.Rooms<1, 'Rooms']=1

Признак `Rooms` мы исследовали.

Посмотрим признакы `KitchenSquare`- площадь кухни, `LifeSquare` - жилая площадь квартиры и `Square` - площадь квартиры.

In [58]:
data_test.loc[data_test.KitchenSquare<2]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,0,2,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,0,0,A
5,7633,53,1.0,40.675627,NaN,1.0,21,21.0,1977,0.049637,B,B,34,7759,0,1,3,B
6,13329,23,2.0,68.099538,64.843025,1.0,2,17.0,1977,0.075779,B,B,6,1437,3,0,2,B
11,3310,6,3.0,84.625350,NaN,1.0,6,17.0,1977,0.243205,B,B,5,1564,0,0,0,B
14,5214,27,1.0,37.555197,NaN,1.0,5,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
18,3495,27,3.0,82.652818,5.690155,1.0,4,17.0,2015,0.072158,B,B,2,629,1,0,0,A
21,16688,1,1.0,44.878767,NaN,1.0,1,9.0,1977,0.007122,B,B,1,264,0,0,1,B
22,12694,27,3.0,83.670032,46.358356,0.0,8,0.0,2015,0.072158,B,B,2,629,1,0,0,A
24,8968,27,2.0,69.849239,NaN,0.0,3,0.0,1977,0.011654,B,B,4,915,0,0,0,B
27,11160,58,1.0,48.610661,48.752502,1.0,4,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
30,2982,6,2.0,63.460684,NaN,0.0,13,0.0,1977,0.243205,B,B,5,1564,0,0,0,B
32,2449,1,1.0,66.426585,NaN,0.0,14,0.0,1977,0.007122,B,B,1,264,0,0,1,B
38,10704,52,2.0,51.921491,NaN,1.0,6,17.0,1977,0.371149,B,B,34,7065,1,2,5,B
43,11513,1,1.0,37.484057,40.593036,0.0,4,17.0,1977,0.007122,B,B,1,264,0,0,1,B
46,12309,45,1.0,42.899569,NaN,0.0,25,0.0,1977,0.195781,B,B,23,5212,6,3,2,B
50,14788,6,1.0,38.269173,NaN,1.0,6,17.0,2017,0.243205,B,B,5,1564,0,0,0,B
59,10614,27,1.0,44.254995,NaN,1.0,3,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
62,3061,30,2.0,66.203290,NaN,1.0,22,22.0,1977,0.000078,B,B,22,6398,141,3,23,B
65,10929,48,1.0,40.767892,37.236548,1.0,20,19.0,2017,0.041125,B,B,46,9515,5,1,10,B
66,9011,53,1.0,1.378543,1.353573,1.0,1,1.0,1977,0.049637,B,B,34,7759,0,1,3,B
70,1872,30,2.0,52.449057,52.798349,1.0,17,17.0,2016,0.000078,B,B,22,6398,141,3,23,B
71,9205,120,2.0,85.911827,4.188395,1.0,5,1.0,2016,0.341072,B,B,27,5664,48,3,11,B
72,5403,34,4.0,99.112581,NaN,1.0,22,1.0,1977,0.069753,B,B,53,13670,4,1,11,B
74,6268,1,1.0,45.885992,NaN,1.0,11,20.0,1977,0.007122,B,B,1,264,0,0,1,B
77,7034,45,2.0,59.927502,3.798341,1.0,23,1.0,2017,0.195781,B,B,23,5212,6,3,2,B
78,6553,34,5.0,122.375273,0.333490,0.0,9,0.0,1977,0.069753,B,B,53,13670,4,1,11,B
81,12389,27,3.0,99.614906,NaN,1.0,10,16.0,2016,0.072158,B,B,2,629,1,0,0,A
82,14462,6,2.0,61.610642,NaN,1.0,11,17.0,1977,0.243205,B,B,5,1564,0,0,0,B
83,8860,167,2.0,71.006730,69.010665,1.0,4,10.0,2015,0.051942,B,B,17,4017,7,2,0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4913,13309,62,1.0,54.605305,53.427529,0.0,12,17.0,2019,0.072158,B,B,2,629,1,0,0,A
4916,5240,27,3.0,89.218062,NaN,0.0,8,22.0,1977,0.051815,B,B,5,1227,0,0,0,B
4919,76,45,2.0,65.466927,63.340061,1.0,22,22.0,2015,0.195781,B,B,23,5212,6,3,2,B
4922,2515,23,1.0,49.520325,NaN,1.0,4,16.0,2016,0.014073,B,B,2,475,0,0,0,B
4926,13030,6,2.0,62.179269,NaN,1.0,2,17.0,1977,0.243205,B,B,5,1564,0,0,0,B
4927,14686,1,3.0,77.229885,79.958685,1.0,18,17.0,1977,0.007122,B,B,1,264,0,0,1,B
4928,13272,22,3.0,77.214353,NaN,1.0,14,17.0,1977,0.118537,B,B,30,6207,1,1,0,B
4937,4803,23,3.0,102.149271,NaN,1.0,6,25.0,1977,0.075779,B,B,6,1437,3,0,2,B
4941,15110,58,2.0,67.104108,NaN,1.0,5,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
4943,10462,1,1.0,41.237969,NaN,0.0,7,17.0,1977,0.007122,B,B,1,264,0,0,1,B
4945,9405,6,1.0,41.225107,NaN,1.0,25,25.0,1977,0.243205,B,B,5,1564,0,0,0,B
4946,511,23,2.0,63.700028,NaN,1.0,17,25.0,1977,0.075779,B,B,6,1437,3,0,2,B
4949,343,1,2.0,66.269675,NaN,1.0,11,17.0,1977,0.025609,B,B,33,5261,0,3,1,B
4955,286,47,3.0,82.763109,NaN,1.0,15,22.0,1977,0.197368,B,B,8,2423,1,0,1,B
4956,7639,27,1.0,38.756507,NaN,1.0,7,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
4957,16722,9,1.0,68.794231,5.453158,1.0,4,1.0,1977,0.161532,B,B,25,5648,1,2,4,B
4958,9157,58,3.0,94.876277,NaN,0.0,5,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
4962,5820,94,1.0,33.680382,34.198977,1.0,10,9.0,1972,0.127376,B,B,43,8429,3,3,9,B
4963,11604,1,2.0,69.767181,NaN,1.0,15,24.0,1977,0.007122,B,B,1,264,0,0,1,B
4968,15181,27,4.0,104.664209,66.903563,1.0,4,1.0,2016,0.017647,B,B,2,469,0,0,0,B
4969,4821,74,2.0,82.542507,82.585069,0.0,4,17.0,2015,0.309479,B,B,35,7715,4,0,6,B
4972,16064,30,1.0,38.376234,37.003311,1.0,2,1.0,1977,0.000078,B,B,22,6398,141,3,23,B
4973,1804,27,1.0,38.916778,NaN,0.0,11,17.0,1977,0.011654,B,B,4,915,0,0,0,B
4974,5296,52,1.0,44.442218,44.634608,0.0,5,17.0,1977,0.371149,B,B,34,7065,1,2,5,B
4976,4723,95,1.0,45.542940,NaN,0.0,6,0.0,1977,0.000699,B,B,14,3369,24,0,3,B
4982,12920,23,1.0,39.610426,38.187571,1.0,6,18.0,2013,0.034656,B,B,0,168,0,0,0,B
4985,11732,1,1.0,46.597283,NaN,1.0,17,24.0,1977,0.007122,B,B,1,264,0,0,1,B
4987,5361,53,3.0,80.102103,NaN,1.0,13,22.0,1977,0.049637,B,B,34,7759,0,1,3,B
4998,4780,62,2.0,81.305222,NaN,0.0,4,0.0,1977,0.072158,B,B,2,629,1,0,0,A
4999,12504,30,2.0,60.555693,NaN,1.0,10,17.0,1977,0.000078,B,B,22,6398,141,3,23,B

In [59]:
# Площадь кухни меньше 2 заполняем средней площадью кухни из `data`.
data_test.loc[data_test.KitchenSquare<2, 'KitchenSquare'] = data.KitchenSquare.mean()
data_test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,3959.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.906600,56.449500,36.158810,8.023357,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1.31940,4.242800
std,4832.674037,44.179466,0.807469,19.092787,17.825287,9.338849,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1.47994,4.777365
min,1.000000,0.000000,1.000000,1.378543,0.333490,2.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.906231,23.092026,7.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.921340,32.925087,7.486097,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,45.174091,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,2.00000,6.000000
max,16795.000000,212.000000,5.000000,223.453689,303.071094,620.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.00000,23.000000

In [60]:
data_test.loc[data_test.KitchenSquare>50]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
40,5428,27,2.0,62.326044,NaN,61.0,12,17.0,1977,0.072158,B,B,2,629,1,0,0,A
1456,5260,73,3.0,69.358242,51.247581,65.0,6,6.0,1931,0.042032,B,B,37,6856,84,2,5,B
1777,3341,62,3.0,112.114019,112.247841,112.0,3,3.0,2017,0.072158,B,B,2,629,1,0,0,A
1964,14594,11,2.0,42.795304,24.223770,620.0,11,14.0,1972,0.038693,B,B,28,6533,1,2,5,B
3816,12612,27,2.0,60.988496,33.646726,60.0,5,17.0,2013,0.072158,B,B,2,629,1,0,0,A
4281,8015,27,1.0,66.099096,33.639611,62.0,3,7.0,2016,0.014058,B,B,1,290,0,0,0,B
4405,5199,27,2.0,59.054990,61.647531,57.0,13,12.0,2016,0.211401,B,B,9,1892,0,0,1,B
4555,12640,6,2.0,54.629142,31.486308,97.0,4,17.0,2015,0.243205,B,B,5,1564,0,0,0,B

In [61]:
# посчитаем площадь кухни больше 50 так же - аномальной и заполним средним значением
data_test.loc[data_test.KitchenSquare>50, 'KitchenSquare'] = data.KitchenSquare.mean()
data_test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,3959.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.906600,56.449500,36.158810,7.808535,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1.31940,4.242800
std,4832.674037,44.179466,0.807469,19.092787,17.825287,2.385394,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1.47994,4.777365
min,1.000000,0.000000,1.000000,1.378543,0.333490,2.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.906231,23.092026,7.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.921340,32.925087,7.486097,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,45.174091,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,2.00000,6.000000
max,16795.000000,212.000000,5.000000,223.453689,303.071094,44.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.00000,23.000000

In [62]:
# посмотрим на Square < 20
data_test.loc[(data_test.Square<20)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
2,5480,190,1.0,13.597819,15.948246,12.000000,2,5.0,1909,0.000000,B,B,30,7538,87,5,5,B
66,9011,53,1.0,1.378543,1.353573,7.486097,1,1.0,1977,0.049637,B,B,34,7759,0,1,3,B
557,3458,101,1.0,19.043894,13.941145,3.000000,4,5.0,1970,0.225825,A,B,41,6558,7,3,2,B
608,16401,30,1.0,2.645046,4.338755,7.486097,2,1.0,1977,0.000078,B,B,22,6398,141,3,23,B
837,2138,27,1.0,5.647458,1.501582,7.486097,1,1.0,1977,0.017647,B,B,2,469,0,0,0,B
1165,10120,6,1.0,5.100672,3.861780,7.486097,3,1.0,1977,0.243205,B,B,5,1564,0,0,0,B
1195,3969,101,1.0,18.149267,9.698766,3.000000,4,5.0,1967,0.225825,A,B,41,6558,7,3,2,B
1441,9884,29,1.0,17.273699,16.452172,2.000000,3,5.0,1962,0.069660,B,B,31,6119,4,1,2,B
2744,7533,66,1.0,16.319015,11.118981,7.486097,4,5.0,1965,0.111627,B,B,50,12238,8,2,3,B
2895,6894,84,1.0,19.166821,14.865172,7.486097,6,5.0,1965,0.149666,B,B,22,4789,2,4,1,B
3697,15435,21,1.0,13.305531,9.495367,7.486097,6,5.0,1965,0.194489,B,B,47,8004,3,3,5,B
4490,1165,27,1.0,2.372101,1.899119,7.486097,2,17.0,1977,0.011654,B,B,4,915,0,0,0,B
4540,7855,6,1.0,4.967143,2.968086,7.486097,3,1.0,2018,0.243205,B,B,5,1564,0,0,0,B
4713,170,6,2.0,2.900586,61.468563,7.486097,18,17.0,2014,0.243205,B,B,5,1564,0,0,0,B
4902,1420,45,1.0,1.975769,2.900371,7.486097,1,1.0,1977,0.195781,B,B,23,5212,6,3,2,B

In [63]:
# скорректируем данные [Square < 20] = LifeSquare + KitchenSquare + Square_other_mean
# для этого исключим из выборки пустые значения LifeSquare
data_test.loc[(data_test.Square<20) & (data_test.LifeSquare>0), 'Square'] = data_test['LifeSquare'] + data_test['KitchenSquare'] + Square_other_mean

In [64]:
data_test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,3959.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.906600,56.506433,36.158810,7.808535,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1.31940,4.242800
std,4832.674037,44.179466,0.807469,18.993897,17.825287,2.385394,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1.47994,4.777365
min,1.000000,0.000000,1.000000,19.129687,0.333490,2.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.912403,23.092026,7.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.924953,32.925087,7.486097,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.289167,45.174091,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,2.00000,6.000000
max,16795.000000,212.000000,5.000000,223.453689,303.071094,44.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.00000,23.000000

In [65]:
# посмотрим на Square > 300
data_test.loc[data_test.Square>300]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2]
Index: []

In [66]:
# для заполнения данных по `LifeSquare`, которые отсутствуют, примем LifeSquare = Square - KitchenSquare - Square_other_mean
data_test['LifeSquare'] = data_test['LifeSquare'].fillna(data_test['Square'] - data_test['KitchenSquare'] - Square_other_mean)

In [67]:
data_test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.906600,56.506433,37.475836,7.808535,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1.31940,4.242800
std,4832.674037,44.179466,0.807469,18.993897,18.240916,2.385394,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1.47994,4.777365
min,1.000000,0.000000,1.000000,19.129687,0.333490,2.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.912403,23.710857,7.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.924953,33.764362,7.486097,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.289167,46.741927,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,2.00000,6.000000
max,16795.000000,212.000000,5.000000,223.453689,303.071094,44.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.00000,23.000000

In [68]:
# посмотрим на LifeSquare < 10
data_test.loc[data_test.LifeSquare<10]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
18,3495,27,3.0,82.652818,5.690155,7.486097,4,17.0,2015,0.072158,B,B,2,629,1,0,0,A
66,9011,53,1.0,19.129687,1.353573,7.486097,1,1.0,1977,0.049637,B,B,34,7759,0,1,3,B
71,9205,120,2.0,85.911827,4.188395,7.486097,5,1.0,2016,0.341072,B,B,27,5664,48,3,11,B
77,7034,45,2.0,59.927502,3.798341,7.486097,23,1.0,2017,0.195781,B,B,23,5212,6,3,2,B
78,6553,34,5.0,122.375273,0.333490,7.486097,9,0.0,1977,0.069753,B,B,53,13670,4,1,11,B
153,1105,9,3.0,105.351051,5.589869,7.486097,11,1.0,1977,0.161532,B,B,25,5648,1,2,4,B
237,5857,26,1.0,56.688460,2.132381,7.486097,8,20.0,2013,0.000000,B,B,36,6714,2,0,2,B
259,13706,23,3.0,81.003455,2.366869,7.486097,5,5.0,2017,0.034656,B,B,0,168,0,0,0,B
325,940,27,1.0,48.674779,2.912992,7.486097,7,17.0,2016,0.072158,B,B,2,629,1,0,0,A
326,14959,1,2.0,64.112441,1.181139,7.486097,13,17.0,1977,0.007122,B,B,1,264,0,0,1,B
369,14806,58,2.0,70.894808,2.819415,7.486097,7,1.0,1977,0.437885,B,B,23,5735,3,0,5,B
381,12024,25,1.0,44.925461,4.259876,7.486097,27,1.0,2013,0.069753,B,B,53,13670,4,1,11,B
513,6791,1,3.0,72.023275,2.470856,7.486097,4,24.0,1977,0.007122,B,B,1,264,0,0,1,B
562,12397,27,1.0,52.136972,1.551167,7.486097,10,12.0,2016,0.072158,B,B,2,629,1,0,0,A
579,6550,23,1.0,43.359678,5.042692,7.486097,16,17.0,1977,0.075779,B,B,6,1437,3,0,2,B
608,16401,30,1.0,22.114869,4.338755,7.486097,2,1.0,1977,0.000078,B,B,22,6398,141,3,23,B
643,889,27,3.0,86.357546,1.307526,7.486097,10,0.0,1977,0.072158,B,B,2,629,1,0,0,A
730,197,27,1.0,37.654127,5.480479,7.486097,6,17.0,1977,0.011654,B,B,4,915,0,0,0,B
798,12112,27,3.0,83.474667,3.536673,7.486097,2,17.0,2017,0.072158,B,B,2,629,1,0,0,A
837,2138,27,1.0,19.277696,1.501582,7.486097,1,1.0,1977,0.017647,B,B,2,469,0,0,0,B
897,798,63,1.0,48.285948,5.441648,7.486097,25,1.0,2016,0.238617,B,B,26,3889,6,3,6,B
943,1134,27,2.0,69.884611,3.048860,7.486097,9,17.0,1977,0.072158,B,B,2,629,1,0,0,A
949,1524,23,2.0,51.506150,5.221950,7.486097,12,17.0,1977,0.034656,B,B,0,168,0,0,0,B
974,5818,6,1.0,39.471107,2.206310,7.486097,6,17.0,2016,0.243205,B,B,5,1564,0,0,0,B
1022,6428,9,1.0,43.037264,3.013166,7.486097,3,1.0,1977,0.161532,B,B,25,5648,1,2,4,B
1109,15242,27,2.0,74.187798,1.813666,7.486097,5,1.0,1977,0.072158,B,B,2,629,1,0,0,A
1146,12003,1,2.0,65.396490,1.955816,7.486097,12,17.0,1977,0.007122,B,B,1,264,0,0,1,B
1165,10120,6,1.0,21.637894,3.861780,7.486097,3,1.0,1977,0.243205,B,B,5,1564,0,0,0,B
1195,3969,101,1.0,22.988783,9.698766,3.000000,4,5.0,1967,0.225825,A,B,41,6558,7,3,2,B
1231,2859,62,1.0,45.895518,1.457365,7.486097,10,15.0,2018,0.072158,B,B,2,629,1,0,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3802,3268,6,3.0,79.248522,3.030300,7.486097,16,17.0,1977,0.243205,B,B,5,1564,0,0,0,B
3912,6060,53,5.0,56.600162,2.742068,7.486097,6,18.0,1977,0.049637,B,B,34,7759,0,1,3,B
3945,12064,6,2.0,65.897416,5.264993,7.486097,12,1.0,2015,0.243205,B,B,5,1564,0,0,0,B
3971,9977,27,3.0,81.620276,1.401829,7.486097,16,22.0,1977,0.211401,B,B,9,1892,0,0,1,B
4038,3691,6,2.0,66.674571,3.723031,7.486097,2,17.0,2016,0.243205,B,B,5,1564,0,0,0,B
4071,6560,9,3.0,79.084019,1.298379,7.486097,4,1.0,1977,0.161532,B,B,25,5648,1,2,4,B
4113,13554,62,1.0,40.965126,4.653351,7.486097,19,25.0,1977,0.072158,B,B,2,629,1,0,0,A
4172,9672,93,3.0,139.708806,3.809525,7.486097,3,2.0,2016,0.004949,B,B,0,186,0,0,0,B
4208,7110,6,1.0,48.481003,3.852400,7.486097,12,25.0,2016,0.243205,B,B,5,1564,0,0,0,B
4234,15846,34,1.0,26.719723,8.943610,7.486097,4,2.0,2015,0.069753,B,B,53,13670,4,1,11,B
4259,266,27,1.0,46.718321,2.879671,7.486097,13,1.0,1977,0.072158,B,B,2,629,1,0,0,A
4266,5287,34,4.0,97.241417,1.733644,7.486097,14,1.0,1977,0.069753,B,B,53,13670,4,1,11,B
4284,11291,6,2.0,53.606794,1.320439,7.486097,15,17.0,2015,0.243205,B,B,5,1564,0,0,0,B
4385,13601,6,1.0,42.098530,5.948005,7.486097,18,17.0,1977,0.243205,B,B,5,1564,0,0,0,B
4490,1165,27,1.0,19.675233,1.899119,7.486097,2,17.0,1977,0.011654,B,B,4,915,0,0,0,B
4497,5948,6,1.0,40.113984,4.612265,7.486097,17,17.0,1977,0.243205,B,B,5,1564,0,0,0,B
4510,8426,6,1.0,40.140861,5.759837,7.486097,15,17.0,1977,0.243205,B,B,5,1564,0,0,0,B
4540,7855,6,1.0,20.744200,2.968086,7.486097,3,1.0,2018,0.243205,B,B,5,1564,0,0,0,B
4562,362,6,1.0,50.411140,5.775697,7.486097,27,25.0,2018,0.243205,B,B,5,1564,0,0,0,B
4622,13807,58,3.0,79.494927,1.493588,7.486097,8,17.0,1977,0.437885,B,B,23,5735,3,0,5,B
4644,4041,1,2.0,65.759528,5.250792,7.486097,10,17.0,1977,0.007122,B,B,1,264,0,0,1,B
4680,1213,6,3.0,76.884278,2.063415,7.486097,13,17.0,1977,0.243205,B,B,5,1564,0,0,0,B
4718,5262,30,2.0,76.607538,2.820279,7.486097,5,1.0,1977,0.000078,B,B,22,6398,141,3,23,B
4764,2461,72,2.0,103.114357,4.312838,7.486097,34,37.0,2015,0.210473,B,B,11,2398,2,3,0,B
4795,9969,45,1.0,42.491500,3.466208,7.486097,4,2.0,2018,0.195781,B,B,23,5212,6,3,2,B
4818,8963,27,3.0,79.114387,3.329216,7.486097,3,22.0,1977,0.211401,B,B,9,1892,0,0,1,B
4846,5002,1,3.0,82.624843,4.379317,7.486097,5,17.0,2016,0.007122,B,B,1,264,0,0,1,B
4863,4611,27,2.0,76.709543,2.989508,7.486097,13,12.0,2016,0.072158,B,B,2,629,1,0,0,A
4902,1420,45,1.0,20.676485,2.900371,7.486097,1,1.0,1977,0.195781,B,B,23,5212,6,3,2,B
4957,16722,9,1.0,68.794231,5.453158,7.486097,4,1.0,1977,0.161532,B,B,25,5648,1,2,4,B

In [69]:
# понимая, что значения по данному условию принимают аномальные значения,
# для заполнения данных по `LifeSquare` < 10 также примем условие LifeSquare = Square - KitchenSquare - Square_other_mean
data_test.loc[data_test.LifeSquare<10, 'LifeSquare'] = data_test['Square'] - data_test['KitchenSquare'] - Square_other_mean

In [70]:
data_test.loc[data_test.LifeSquare<10]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
66,9011,53,1.0,19.129687,1.353573,7.486097,1,1.0,1977,0.049637,B,B,34,7759,0,1,3,B
608,16401,30,1.0,22.114869,4.338755,7.486097,2,1.0,1977,0.000078,B,B,22,6398,141,3,23,B
837,2138,27,1.0,19.277696,1.501582,7.486097,1,1.0,1977,0.017647,B,B,2,469,0,0,0,B
1165,10120,6,1.0,21.637894,3.861780,7.486097,3,1.0,1977,0.243205,B,B,5,1564,0,0,0,B
1195,3969,101,1.0,22.988783,9.698766,3.000000,4,5.0,1967,0.225825,A,B,41,6558,7,3,2,B
1436,12833,27,1.0,27.658462,9.882348,7.486097,10,19.0,1977,0.211401,B,B,9,1892,0,0,1,B
3697,15435,21,1.0,27.271481,9.495367,7.486097,6,5.0,1965,0.194489,B,B,47,8004,3,3,5,B
4234,15846,34,1.0,26.719723,8.943610,7.486097,4,2.0,2015,0.069753,B,B,53,13670,4,1,11,B
4490,1165,27,1.0,19.675233,1.899119,7.486097,2,17.0,1977,0.011654,B,B,4,915,0,0,0,B
4540,7855,6,1.0,20.744200,2.968086,7.486097,3,1.0,2018,0.243205,B,B,5,1564,0,0,0,B
4902,1420,45,1.0,20.676485,2.900371,7.486097,1,1.0,1977,0.195781,B,B,23,5212,6,3,2,B

In [71]:
# посмотрим на LifeSquare < 10, чтобы определить наблюдения, которые не подошли под условие
# примем для них среднее значение LifeSquare
data_test.loc[data_test.LifeSquare<10, 'LifeSquare'] = data.LifeSquare.mean()

In [72]:
# посмотрим на LifeSquare > 150
data_test.loc[data_test.LifeSquare>150]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
410,11533,94,2.0,48.713443,303.071094,6.000000,5,12.0,1974,0.521867,B,B,25,6149,0,0,0,B
2557,16053,17,4.0,168.729035,169.901701,7.486097,4,0.0,2013,0.093443,B,B,23,4635,5,2,4,B

In [73]:
#скорректируем данные для LifeSquare > 150
data_test.loc[data_test.LifeSquare>150, 'LifeSquare'] = data_test['Square'] - data_test['KitchenSquare'] - Square_other_mean

In [74]:
data_test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.906600,56.506433,38.401509,7.808535,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1.31940,4.242800
std,4832.674037,44.179466,0.807469,18.993897,17.409517,2.385394,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1.47994,4.777365
min,1.000000,0.000000,1.000000,19.129687,10.248887,2.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.912403,24.399513,7.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.924953,34.297545,7.486097,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.289167,47.148329,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,2.00000,6.000000
max,16795.000000,212.000000,5.000000,223.453689,150.952921,44.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.00000,23.000000

Далее исследуем признакы `Floor`- этаж, `HouseFloor` - всего этажей у дома.

In [75]:
data_test.loc[data_test.Floor>data_test.HouseFloor]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
1,15856,74,2.0,69.263183,51.487070,7.486097,6,1.0,1977,0.075779,B,B,6,1437,3,0,2,B
10,15975,61,3.0,64.543658,42.651541,7.000000,10,9.0,1981,0.300323,B,B,52,10311,6,1,9,B
14,5214,27,1.0,37.555197,19.779083,7.486097,5,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
22,12694,27,3.0,83.670032,46.358356,7.486097,8,0.0,2015,0.072158,B,B,2,629,1,0,0,A
24,8968,27,2.0,69.849239,52.073126,7.486097,3,0.0,1977,0.011654,B,B,4,915,0,0,0,B
27,11160,58,1.0,48.610661,48.752502,7.486097,4,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
30,2982,6,2.0,63.460684,45.684571,7.486097,13,0.0,1977,0.243205,B,B,5,1564,0,0,0,B
32,2449,1,1.0,66.426585,48.650471,7.486097,14,0.0,1977,0.007122,B,B,1,264,0,0,1,B
36,9348,205,1.0,37.480811,16.851795,8.000000,6,5.0,1933,0.169091,B,B,19,3856,10,2,5,B
41,12749,21,2.0,49.011976,27.980195,5.000000,6,5.0,1969,0.194489,B,B,47,8004,3,3,5,B
46,12309,45,1.0,42.899569,25.123455,7.486097,25,0.0,1977,0.195781,B,B,23,5212,6,3,2,B
55,5452,27,1.0,48.587913,42.596190,12.000000,3,2.0,2016,0.017647,B,B,2,469,0,0,0,B
58,2831,21,1.0,21.452899,15.798509,3.000000,11,9.0,1972,0.194489,B,B,47,8004,3,3,5,B
59,10614,27,1.0,44.254995,26.478881,7.486097,3,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
65,10929,48,1.0,40.767892,37.236548,7.486097,20,19.0,2017,0.041125,B,B,46,9515,5,1,10,B
71,9205,120,2.0,85.911827,68.135713,7.486097,5,1.0,2016,0.341072,B,B,27,5664,48,3,11,B
72,5403,34,4.0,99.112581,81.336467,7.486097,22,1.0,1977,0.069753,B,B,53,13670,4,1,11,B
75,14232,75,1.0,34.591390,18.765600,9.000000,13,12.0,1970,0.307467,B,A,30,5048,9,2,5,B
76,8532,99,2.0,52.156529,30.095966,8.000000,18,17.0,2000,0.012339,B,B,35,5776,1,2,4,B
77,7034,45,2.0,59.927502,42.151388,7.486097,23,1.0,2017,0.195781,B,B,23,5212,6,3,2,B
78,6553,34,5.0,122.375273,104.599159,7.486097,9,0.0,1977,0.069753,B,B,53,13670,4,1,11,B
93,4044,21,1.0,34.988472,18.103202,5.000000,11,9.0,1969,0.194489,B,B,47,8004,3,3,5,B
102,10749,6,2.0,65.582572,66.675758,7.486097,4,2.0,2017,0.243205,B,B,5,1564,0,0,0,B
107,12401,6,3.0,79.506406,44.542472,12.000000,18,17.0,2013,0.243205,B,B,5,1564,0,0,0,B
113,5032,30,1.0,50.738045,32.961932,7.486097,5,0.0,1977,0.000078,B,B,22,6398,141,3,23,B
118,8990,27,3.0,58.848188,40.412006,6.000000,11,9.0,1988,0.211401,B,B,9,1892,0,0,1,B
120,12743,27,1.0,40.407390,22.631276,7.486097,9,0.0,1977,0.211401,B,B,9,1892,0,0,1,B
121,5132,6,1.0,39.352386,21.576272,7.486097,12,1.0,1977,0.243205,B,B,5,1564,0,0,0,B
130,5746,62,1.0,44.021356,26.245242,7.486097,13,0.0,1977,0.072158,B,B,2,629,1,0,0,A
132,14834,27,3.0,56.310351,38.534237,7.486097,19,0.0,1977,0.072158,B,B,2,629,1,0,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4856,10262,27,2.0,69.196440,51.420326,7.486097,10,0.0,1977,0.017647,B,B,2,469,0,0,0,B
4858,4606,19,1.0,46.726757,19.456423,9.000000,26,25.0,2002,0.000991,B,B,33,6783,3,1,9,B
4863,4611,27,2.0,76.709543,58.933429,7.486097,13,12.0,2016,0.072158,B,B,2,629,1,0,0,A
4875,10493,125,1.0,34.814378,18.134060,7.000000,10,9.0,1970,0.194489,B,B,47,8004,3,3,5,B
4880,8696,62,2.0,103.865542,86.089428,7.486097,10,1.0,2014,0.072158,B,B,2,629,1,0,0,A
4882,14551,52,1.0,45.067034,23.268931,8.000000,15,14.0,1990,0.371149,B,B,34,7065,1,2,5,B
4883,2646,61,3.0,66.691900,45.223552,9.000000,13,12.0,1965,0.300323,B,B,52,10311,6,1,9,B
4887,12116,88,3.0,89.549559,71.773445,7.486097,20,0.0,1977,0.127376,B,B,43,8429,3,3,9,B
4888,3834,45,3.0,76.515289,47.435020,7.486097,6,1.0,1977,0.195781,B,B,23,5212,6,3,2,B
4889,7785,29,2.0,60.790591,32.925087,11.000000,17,16.0,2015,0.069660,B,B,31,6119,4,1,2,B
4892,16357,58,1.0,49.205978,31.429864,7.486097,4,0.0,1977,0.437885,B,B,23,5735,3,0,5,B
4901,4034,111,2.0,46.917730,33.154025,5.000000,6,5.0,1969,0.135650,B,B,46,7960,6,3,11,B
4906,14356,54,2.0,78.176217,75.032680,7.486097,10,8.0,2014,0.006076,B,B,30,5285,0,6,6,B
4911,16315,52,3.0,80.574584,48.891056,10.000000,19,17.0,1988,0.371149,B,B,34,7065,1,2,5,B
4927,14686,1,3.0,77.229885,79.958685,7.486097,18,17.0,1977,0.007122,B,B,1,264,0,0,1,B
4932,13107,5,3.0,61.186601,44.568950,5.000000,14,12.0,1973,0.150818,B,B,16,3433,4,4,5,B
4941,15110,58,2.0,67.104108,49.327994,7.486097,5,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
4954,6089,102,2.0,60.166022,39.729476,6.000000,7,5.0,1958,0.238617,B,B,26,3889,6,3,6,B
4956,7639,27,1.0,38.756507,20.980393,7.486097,7,1.0,1977,0.211401,B,B,9,1892,0,0,1,B
4957,16722,9,1.0,68.794231,51.018117,7.486097,4,1.0,1977,0.161532,B,B,25,5648,1,2,4,B
4958,9157,58,3.0,94.876277,77.100163,7.486097,5,3.0,1977,0.437885,B,B,23,5735,3,0,5,B
4962,5820,94,1.0,33.680382,34.198977,7.486097,10,9.0,1972,0.127376,B,B,43,8429,3,3,9,B
4964,16087,112,1.0,41.719715,17.787884,8.000000,19,18.0,2008,0.069660,B,B,31,6119,4,1,2,B
4968,15181,27,4.0,104.664209,66.903563,7.486097,4,1.0,2016,0.017647,B,B,2,469,0,0,0,B
4972,16064,30,1.0,38.376234,37.003311,7.486097,2,1.0,1977,0.000078,B,B,22,6398,141,3,23,B
4976,4723,95,1.0,45.542940,27.766826,7.486097,6,0.0,1977,0.000699,B,B,14,3369,24,0,3,B
4989,2591,39,2.0,44.203592,30.191691,6.000000,10,9.0,1972,0.428826,B,B,25,5011,8,0,2,B
4993,14562,113,2.0,46.627882,27.058739,5.000000,6,5.0,1969,0.307467,B,A,30,5048,9,2,5,B
4997,5783,12,3.0,77.842178,48.282625,9.000000,23,22.0,1989,0.090799,B,B,74,19083,2,5,15,B
4998,4780,62,2.0,81.305222,63.529108,7.486097,4,0.0,1977,0.072158,B,B,2,629,1,0,0,A

In [76]:
# т.к. этаж квартиры не может быть выше этажности дома, для такой выборки установим этажность дома = этаж квартиры
data_test.loc[data_test.Floor>data_test.HouseFloor, 'HouseFloor'] = data_test['Floor']

Далее исследуем признак `HouseYear`- год постройки.

In [77]:
data_test.loc[data_test.HouseYear>2020]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2]
Index: []

Далее исследуем признаки `Ecology_2`, `Ecology_3`, `Shops_2`, которые переведем в dummy-переменные.

Признаки `Ecology_1`, `Social_1`, `Social_2`, `Social_3`, `Helthcare_2`, `Shops_1` оставим без изменений.

In [78]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       5000 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(6), int64(9), object(3)
memory usage: 703.2+ KB

In [79]:
data_test=pd.get_dummies(data_test)
data_test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_2,Social_3,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,725,58,2.0,49.882643,33.432782,6.000000,6,14.0,1972,0.310199,...,2748,1,0,0,0,1,0,1,0,1
1,15856,74,2.0,69.263183,51.487070,7.486097,6,6.0,1977,0.075779,...,1437,3,0,2,0,1,0,1,0,1
2,5480,190,1.0,38.238263,15.948246,12.000000,2,5.0,1909,0.000000,...,7538,87,5,5,0,1,0,1,0,1
3,15664,47,2.0,73.046609,51.940842,9.000000,22,22.0,2007,0.101872,...,4583,3,3,3,0,1,0,1,0,1
4,14275,27,1.0,47.527111,43.387569,7.486097,17,17.0,2017,0.072158,...,629,1,0,0,0,1,0,1,1,0

In [80]:
# присоединяем синтетическую переменную `Mean_price_per_sq` к нашему тестовому датафрейму
data_test=join_stats(data_test,stats,data,mode='test')
data_test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_3,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,Mean_price_per_sq
0,725,58,2.0,49.882643,33.432782,6.000000,6,14.0,1972,0.310199,...,1,0,0,0,1,0,1,0,1,2962.604453
1,15856,74,2.0,69.263183,51.487070,7.486097,6,6.0,1977,0.075779,...,3,0,2,0,1,0,1,0,1,3289.878362
2,5480,190,1.0,38.238263,15.948246,12.000000,2,5.0,1909,0.000000,...,87,5,5,0,1,0,1,0,1,3897.049770
3,15664,47,2.0,73.046609,51.940842,9.000000,22,22.0,2007,0.101872,...,3,3,3,0,1,0,1,0,1,3841.195532
4,14275,27,1.0,47.527111,43.387569,7.486097,17,17.0,2017,0.072158,...,1,0,0,0,1,0,1,1,0,2896.603397

In [81]:
test = data_test.drop('Id', axis=1)

Предскажем целевую переменную также 2 способами с нормализацией и без нормализации

In [82]:
# нормализуем значения наблюдений датафрейма test

test_norm = pd.DataFrame(scaler.transform(test), columns=test.columns)

In [87]:
data_test['Price']=model3.predict(test)
data_test['Price_norm']=model3_norm.predict(test_norm)

In [88]:
data_test[['Id', 'Price']].to_csv('AKashipov_predictions(для зачета).csv',index=False)
data_test[['Id', 'Price_norm']].rename(columns={'Price_norm':'Price'}).to_csv('AKashipov_predictions(экспериментально, с учетом нормализации).csv',index=False)